@media (min-width:600px) {
    nav {
        display: block;
        position: static;
    }

    .hamburger-icon {
        display: none;
    }

    nav h2,
    nav li  {
        list-style-type: none;
    }

    nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }


    .btn {
      font-size: 1rem;
      font-weight: 700;
      padding: 10px;
      color: rebeccapurple;
      background-color: var(--card-color);
      border: 5px solid var(--text-background-color);
      border-radius: 5px;
      transition: all 0.3s;
  }

    .btn:hover {
      transform: translateY(-10px);
      background-color: var(--text-background-color);
      color: rebeccapurple;
      cursor: pointer;
    }

    nav ul {
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      gap: 7px;

    }

    .info-card-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
 }

    .info-card {
      width: 300px;
 }

   .information {
        display: flex;
        flex-direction: row;
    }

    .information p {
      display: block;
      font-size: 1.4em;
    }

    .container {
      display: flex;
      gap: 10px;
    }

    .wrapper img {
      height: 250px;
      object-fit: cover;
    }

    .top-section {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }

    .social-icons {
      text-align: center;
    }

    .bottom-links ul {
      flex-direction: row;
      gap: 10px;
    }
}





  