@media (min-width:600px) {
    nav {
        display: block;
        position: static;
    }

    .hamburger-icon {
        display: none;
    }

    nav h2,
    nav li  {
        list-style-type: none;
    }

    nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    nav:last-child {
      padding-left: 20px;
    }

    .back-arrow a,
    .back-arrow i{
      color: #000;
    }

    .back-arrow i:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    .btn {
      font-size: 1rem;
      font-weight: 700;
      padding: 10px;
      color: rebeccapurple;
      background-color: var(--card-color);
      border: 5px solid var(--text-background-color);
      border-radius: 5px;
      transition: all 0.3s;
  }

    .btn:hover {
      transform: translateY(-10px);
      background-color: var(--text-background-color);
      color: rebeccapurple;
      cursor: pointer;
    }

    nav ul {
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      gap: 25px;

    }

    .info-card-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
 }

    .info-card {
      width: 300px;
 }

   .information {
    margin: 10px;
        display: flex;
        flex-direction: row;
    }

    .information p {
      display: block;
      font-size: 1.2em;
      line-height: 1.6em;
    }

    .container {
      display: flex;
      gap: 10px;
    }

    .wrapper img {
      height: 250px;
      object-fit: cover;
    }

    .top-section {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }

    .social-icons {
      text-align: center;
    }

    .bottom-links ul {
      flex-direction: row;
      gap: 10px;
    }
/* Aeronautics page */
    .aeronautics-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .aeronautics img {
      object-fit: contain;
    }

    /* Night */
    .night-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    }

    /* Kids */
    .kids-page-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
    }

    .box-expand-1 {
        grid-column: 1/span 2;
        align-items: center;
    }

    .box-expand-2 {
      grid-column: 1/span 3;
    }

}    





  