@import "./css/variables.css";
@import "./css/media.css";

@font-face {
    font-family: "Baloo-2";
    src: url(/Baloo_2/Baloo2-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Fredoka";
    src: url(/Fredoka/Fredoka-VariableFont_wdth\,wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Baloo-2", Arial, Helvetica, sans-serif;
    width: var(--image-width);
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin: auto;
}

main {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.night-time {
    background-color: #000000;
}

h1:not(.bounce, .temporary), h2 {
    font-family: "Fredoka", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    background: radial-gradient(#fcf5c7, #ffc09f);
    border-radius: 5px;
}

p {
    font-family: "Baloo-2";
}


header, footer {
    font-family: "Fredoka", Arial, Helvetica, sans-serif;
    background: linear-gradient(
        180deg,
        hsl(209deg 34% 36%) 0%,
        hsl(209deg 33% 38%) 7%,
        hsl(209deg 33% 40%) 14%,
        hsl(209deg 32% 43%) 21%,
        hsl(209deg 32% 45%) 29%,
        hsl(209deg 32% 47%) 36%,
        hsl(209deg 31% 49%) 43%,
        hsl(209deg 32% 51%) 50%,
        hsl(209deg 35% 53%) 57%,
        hsl(209deg 38% 56%) 64%,
        hsl(209deg 41% 58%) 71%,
        hsl(209deg 45% 60%) 79%,
        hsl(209deg 49% 62%) 86%,
        hsl(209deg 53% 65%) 93%,
        hsl(208deg 59% 67%) 100%);
}
header h3 {
    font-weight: 500;
}

nav, 
#menu-checkbox {
    font-size: 1rem;
    display: none;
}


#menu-checkbox:checked ~ nav {
    display: block;
    margin-left: 20px;
    z-index: 1;
    background-color: #3D5E7C;
}

header {
    position: relative;
    width: var(--image-width);
}

nav {
    position: absolute;
    right: 20px;
    padding-top: 5px;
}

.btn {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px;
    margin-top: 10px;
    color: #000;
    background-color: var(--card-color);
    border: 5px solid var(--text-background-color);
    border-radius: 5px;
    transition: transform, .3s, background-color .3s, color .3s;
}
 a {
    text-decoration: none;
}
.btn:hover {
    transform: translateY(-10px);
    background-color: var(--text-background-color);
    color: rebeccapurple;
}

.ticket-btn {
    width: 150px;
    height: 50px;
}
nav a {
    display: block;
    padding: 10px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 1.4em;
}

nav li {
    list-style-type: none;
}
.fa-bars {
    color: #ffffff;
    padding: 15px;
    float: right;
}

.front-page {
    position: relative;
}

.front-page-text {
    position: absolute;
    bottom: 35%;
    right: 10%;
    width: 400px;
    font-size: 1.4em;
    font-weight: 700;
    align-self: center;
    text-align: center;
    line-height: 2em;
    text-shadow: 1px 1px #000;
}
.front-page img {
    opacity: 30%;
    max-width: 100%;
    height: 300px;
    width: var(--image-width);
    object-fit: cover;
}


.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.wrapper a {
    text-decoration: none;
}

.image {
    width: 450px;
    position: relative;
}

.image img {
    width: var(--image-width);
    display: block;
    margin: auto;
}

.content {
    width: var(--image-width);
    height: var(--image-width);
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: .6s;
}

.content:hover {
    opacity: 1;
}

.content p {
    font-size: 30px;
    color: #fff;
    margin-bottom: 10px;
    margin-left: 10px;
}

.content > * {
    transform: translateY(25px);
    transition: transform 0.6s;
}

.content:hover > * {
    transform: translateY(0px);
}

.info-card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info-card {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

.info-card,
.info-card img {
    max-width: 100%;
    background-color: var(--card-color);
    display: block;
}

.topic-cards {
    width: 90%;
    max-width: 1200px;
    margin-inline: auto;
    position: relative;
    height: 125px;
    margin-bottom: 15px;
    margin-top: 2rem;
    font-size: 1.2em;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,1) 80%,
        rgba(0,0,0,0)
        );
}

.item {
    color: #000;
    width: 200px;
    height: 150px;
    position: absolute;
    left: max(calc(200px *5), 100%);
    animation-name: scrollleft;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.text-light {
    color: #fff;
}

@keyframes scrollleft {
    to {
        left: -200px;
    }
}

.item-1 {
    animation-delay: calc(60s / 5 * (5 - 1) *-1);
}
.item-2 {
    animation-delay: calc(60s / 5 * (5 - 2) *-1);
}
.item-3 {
    animation-delay: calc(60s / 5 * (5 - 3) *-1);
}
.item-4 {
    animation-delay: calc(60s / 5 * (5 - 4) *-1);
}
.item-5 {
    animation-delay: calc(60s / 5 * (5 - 5) *-1);
}

iframe {
    border-radius: 10px;
    width: var(--image-width);
    height: 400px;
}

/* Aeronatics page */
.aeronautics,
.energetics {
    border: 2px solid #000;
    margin: 10px;
    background: var(--text-background-color);
    font-size: var(--info-text-size);
}
.aeronautics img,
.energetics img {
    width: 100%;
 }

 .aeronautics p,
 .energetics p {
    margin: 10px;
 }

 @keyframes bounce {
    0% {
        transform: translateY(-30px);
    }

    40%,
    100% {
        transform: translateY(30px);
    }

    50% {
        transform: translateY(10px);
        color: #ffc09f;
    }

    60% {
        transform: translateY(20px);
        color: #ffc09f;
       
    }

    80% {
        transform: translateY(25px);
        
    }
 }

 .bounce {
    font-family: "Fredoka", Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 30px;
    animation: bounce 2s ease-in 0s infinite normal;
 }

 /* Night */
 .night {
    display: flex;
    flex-direction: column;
    font-size: var(--info-text-size);
    margin: 20px;
    background: var(--text-background-color);
    border: 2px solid #fff;
 }

 .night img {
    width: var(--image-width);
 }

 .box-1 {
    grid-column: 1/2;
    grid-row: 1/3;
 }
 
 .dim {
    filter: brightness(65%);
 }

 /* Information section */
.information {
    background: #79ADDC;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin: 20px 0px;
    color: #000;
}

.information > div:last-child {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.infomation h3 {
    font-size: 5em;
    border-bottom: 2px solid #7cc8f8;
}

.information p {
    font-size: 1em;
    color: #000;
    max-width: 600px;
    display: none;
}

.map {
    margin-right: 40px;
}

.map p {
    margin-bottom: 10px; 
    font-size: 1em;
    color: #000;
}

/* Kids page*/
.kids-page {
    background: #ffc09f;
}
.kids-page-container {
    display: flex;
    flex-direction: column;
}

.planet-rotate p,
.kids-page-image p {
    font-size: var(--info-text-size);
    padding: 10px;
}

.planet-rotate img {
    display: flex;
    flex-direction: row;
    width: var(--image-width);
}

.autoRotate {
    animation: autoRotateAnimation;
    animation-timeline: view();
    height: 300px;
    object-fit: cover;
}

 @keyframes autoRotateAnimation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
 }

 .kids-page-image img {
    width: 400px;
 }

/* Footer */
.footer {
    background: var(--foundation-color);
    color: #fff;
    padding: 20px;
    height: auto;
  }
  
  .top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .left-side ul,
  .social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .left-side li,
  .social-icons li {
    margin: 8px 0;
  }
  
  .left-side a,
  .social-icons a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
  }
  
  .logo-container .logo {
    width: 100px;
    height: auto;
    border-radius: 20px;
  }

  .social-icons a,
  .left-side a {
    font-size: var(--info-text-size);
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-top: 8px;
  }
  
  .social-icons i {
    font-size: 24px;
    color: var(--text-color);
  }

  .social-icons li {
    list-style: none;
  }
  
  .bottom-links {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
  }
  
  .bottom-links ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
    margin: 0;
  }
  
  .bottom-links a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 14px;
  }

  /* temporary */
  .temporary {
    max-width: 1200px;
    margin: 20% auto;
    height: 250px;
  }
